<launch>

  <arg name="recordData" default="false" />

  <node name="action_node" pkg="action_node" type="action_node" output="screen" />

 <node pkg="rosbag" type="record" name="rosbag_record_data"
       args="record -O /home/pracsys/Documents/workspace/adaptive_hand_model/data/myBags/c_25_7_rerun /gripper_t42/vel_ref_monitor /gripper_t42/pos_ref_monitor /marker_tracker/image_space_pose_msg /gripper/load /gripper/pos"
       if="$(arg recordData)" />



</launch>
