<launch>
  <arg name="recordData" default="false" />

    <node name="camera" pkg="usb_cam" type="usb_cam_node">
	<param name="image_width" value="1024"/>
	<param name="image_height" value="576"/>
  </node>

 <node pkg="rosbag" type="record" name="rosbag_record_data"
       args="record -o /home/pracsys/Documents/workspace/adaptive_hand_model/data/myBags/c /gripper_t42/vel_ref_monitor /gripper_t42/pos_ref_monitor /marker_tracker/image_space_pose_msg /gripper/load /gripper/pos"
       if="$(arg recordData)" />

  <node name="marker_tracker" pkg="marker_tracker" type="marker_tracker"/>
</launch>
