<launch>

  <arg name="recordData" default="false" />

  <rosparam command="load" file="$(find dexterous_manipulation)/param/keyboard.yaml" />
  <rosparam command="load" file="$(find dexterous_manipulation)/param/gripper.yaml" />

  <include file="$(find dexterous_manipulation)/launch/model_t42.launch"/>
  <include file="$(find gripper_nodes)/launch/model_t42_node.launch"/>
  <!--<include file="$(find gp_predict)/launch/predict.launch"/>-->

  <node name="camera" pkg="usb_cam" type="usb_cam_node">
	<param name="image_width" value="1024"/>
	<param name="image_height" value="576"/>
  </node>

 <node pkg="rosbag" type="record" name="rosbag_record_data"
       args="record -O /home/pracsys/Dropbox/transfer/cc_20_151 /gripper_t42/vel_ref_monitor /gripper_t42/pos_ref_monitor /marker_tracker/image_space_pose_msg /gripper/load /gripper/pos /gripper/curr /keyboard_input"
       if="$(arg recordData)" />

  <node pkg="dexterous_manipulation" type="plot_obj_pos.py" name="Plot" output="screen"></node>
  <node name="marker_tracker" pkg="marker_tracker" type="marker_tracker"/>
  <node name="dexterous_manipulation" pkg="dexterous_manipulation" type="keyboard" output="screen"/>
  <node name="keyboard_input" pkg="keyboard_input" type="keyboard_input" output="screen"/>
  <node name="keyboard_control" pkg="keyboard_control" type="keyboard_control" output="screen"/>
  <node name="gripper_state_publisher" pkg="gripper_state_publisher" type="gripper_state_publisher_node"/>
</launch>
