<launch>

  <arg name="recordData" default="true" />

 <node pkg="rosbag" type="record" name="rosbag_record_data"
       args="record -O /home/pracsys/Dropbox/transfer/action_seq_20_03 /gripper_t42/vel_ref_monitor /gripper_t42/pos_ref_monitor /marker_tracker/image_space_pose_msg /gripper/load /gripper/pos /gripper/curr /keyboard_input /camera/image_raw"
       if="$(arg recordData)" />

</launch>
